.menucard{
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.mainmenu{
    margin-top:100px;
    display: flex;
    justify-content: space-evenly;
}